[submodule "third_party/xxHash"]
	path = third_party/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
[submodule "third_party/lmdb"]
	path = third_party/lmdb
	url = https://github.com/LMDB/lmdb.git
[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "third_party/struetype"]
	path = third_party/struetype
	url = https://github.com/starseeker/struetype
[submodule "third_party/concurrentqueue"]
	path = third_party/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "third_party/fltk"]
	path = third_party/fltk
	url = https://github.com/fltk/fltk.git
